---
import Layout from "./Layout.astro";
import moment from "moment";
const { frontmatter } = Astro.props;
const publishedDate = new Date(frontmatter.published).toUTCString();
const publishedDateFormatted = moment(publishedDate).utc().format("MMMM Do, YYYY");
---

<Layout title={frontmatter.title}>
	<article>
		<h1 class="heading">{frontmatter.title}</h1>

		<time datetime={publishedDate}>
			<strong>Published:</strong>
			{publishedDateFormatted}
		</time>

		<ul class="tags">
			{frontmatter.tags.map(tag => 
				<li>{tag}</li>
			)}
		</ul>

		<slot />

	</article>
</Layout>

<style lang="scss">
	article {
		max-width: 66ch;
		margin: auto;
	}

	.tags {
		display: flex;
		justify-content: flex-end;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 0;
			padding: 0.25rem 0.5rem;
			border: 1px solid;
			border-radius: 0.25rem;

			+ li {
				margin-left: 0.5rem;
			}
		}
	}
</style>